<div class="sm:py-10 py-5 md:pt-20">
    <div class="flex justify-center">
        <img src="https://skills.thijs.gg/icons?i=java" class="w-16 h-16 md:w-20 md:h-20" alt="Question media">
    </div>
    <div class="sm:my-7">
        <div class="pb-10">
            <pre class="text-2xl font-semibold text-center">
                {{question?.text}}
            </pre>
        </div>
        <div class="grid sm:grid-cols-2 gap-6">
          @for (option of question.options; track option.id) {
            <label
              class="flex items-center justify-center w-full px-6 py-4 text-lg bg-red-600 text-white font-medium rounded hover:bg-primary-dark transition duration-300 cursor-pointer has-[:checked]:bg-black">
              <input type="radio" [value]="option.content" name="response-{{option.id}}" id="response-{{option.id}}" class="appearance-none">
              {{ option.content }}
            </label>
          }
<!--            <label-->
<!--                class="flex items-center justify-center w-full px-6 py-4 text-lg bg-red-600 text-white font-medium rounded hover:bg-primary-dark transition duration-300 cursor-pointer has-[:checked]:bg-black">-->
<!--                <input type="radio" [value]="question.options[0].content" name="response" id="true" class="appearance-none">-->
<!--                {{ question.options[0].content }}-->
<!--            </label>-->
<!--            <label-->
<!--                class="flex items-center justify-center w-full px-6 py-4 text-lg bg-blue-600 text-white font-medium rounded hover:bg-primary-dark transition duration-300 cursor-pointer has-[:checked]:bg-black">-->
<!--                <input type="radio" [value]="question.options[1].content" name="response" id="false" class="appearance-none">-->
<!--                {{ question.options[1].content }}-->
<!--            </label>-->
        </div>
    </div>
</div>
