<div class="profile__page">
    <div
        class="profile__background px-20 py-20 bg-[url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] bg-cover rounded">
    </div>
    <div class="profile__wrapper relative grid grid-cols-5 gap-x-4 px-32 dark:text-white">
        <div
            class="user__info__card relative -top-10 col-span-3 w-full px-3 py-4 bg-white z-10 rounded-lg shadow dark:border md:mt-0  dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200">
            <div class="card__header flex items-start justify-between">
                <div class="user__info flex gap-8">
                    <div
                        class="user__image relative -top-10 border-8 border-white dark:border-gray-800 duration-1000 rounded-full w-fit">
                        <img class="w-40 h-40 rounded-full"
                            src="https://images.pexels.com/photos/3190334/pexels-photo-3190334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="">
                    </div>
                    <div class="user__info__text flex flex-col gap-y-1">
                        <div class="user__name capitalize">
                            <h1 class="text-2xl font-medium">outman ouharri</h1>
                        </div>
                        <div class="user__position capitalize">
                            <p class="text-lg font-normal">developer at youCode</p>
                        </div>
                        <div class="user__country capitalize">
                            <p class="text-base text-slate-500">morocco</p>
                        </div>
                    </div>
                </div>
                <div class="user__cta__btns">
                    <!-- tuiIconEdit2Large -->
                    <button class="flex items-center justify-center p-2 border rounded">
                        <tui-marker-icon mode="white" new size="xs" src="tuiIconEdit2Large" class=""></tui-marker-icon>
                    </button>
                </div>
            </div>
        </div>
        <div
            class="user__info__card relative -top-10 col-span-2 w-full px-3 py-4 bg-white z-10 rounded-lg shadow dark:border md:mt-0  dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200">
            <div class="card__header flex items-start justify-between">
                <div class="user__info flex gap-8">
                    <div
                        class="user__image relative -top-10 border-8 border-white dark:border-gray-800 duration-1000 rounded-full w-fit">
                        <img class="w-40 h-40 rounded-full"
                            src="https://images.pexels.com/photos/3190334/pexels-photo-3190334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="">
                    </div>
                    <div class="user__info__text flex flex-col gap-y-1">
                        <div class="user__name capitalize">
                            <h1 class="text-2xl font-medium">outman ouharri</h1>
                        </div>
                        <div class="user__position capitalize">
                            <p class="text-lg font-normal">developer at youCode</p>
                        </div>
                        <div class="user__country capitalize">
                            <p class="text-base text-slate-500">morocco</p>
                        </div>
                    </div>
                </div>
                <div class="user__cta__btns">
                    <!-- tuiIconEdit2Large -->
                    <button class="flex items-center justify-center p-2 border rounded">
                        <tui-marker-icon mode="white" new size="xs" src="tuiIconEdit2Large" class=""></tui-marker-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>