<div class="quiz__splash__page">
    <div class="quiz__splash__page__wrapper dark:text-white">
        <div
            class="top__overlay__image px-20 py-44 bg-[url('https://images.pexels.com/photos/2049422/pexels-photo-2049422.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] bg-cover">
        </div>
        <div class="quiz__splash__content relative -top-32 grid grid-cols-1 sm:grid-cols-5 px-4 sm:px-32">
            <div
                class="user__info__card relative col-span-1 sm:col-start-2 sm:col-span-3 w-full px-8 py-4 bg-white z-10 rounded-lg shadow dark:border md:mt-0  dark:bg-gray-800 dark:border-gray-700 duration-1000 border-zinc-200">
                <div class="card__header flex items-center flex-row justify-between gap-y-2 mb-8 sm:mb-0">
                    <div class="quiz__timer flex items-center gap-2">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgb(89, 0, 255)">
                                <path
                                    d="M12.25 2c-5.514 0-10 4.486-10 10s4.486 10 10 10 10-4.486 10-10-4.486-10-10-10zM18 13h-6.75V6h2v5H18v2z">
                                </path>
                            </svg>
                        </div>
                        <p class="text-lg font-medium flex items-end gap-1">15<span
                                class="time text-sm sr-only sm:not-sr-only">Minutes</span>
                        </p>
                    </div>
                    <div class="quiz__title text-center w-full">
                        <h1 class="text-2xl font-semibold">Quiz Title</h1>
                    </div>
                    <div class="quiz__total__questions flex items-center gap-2">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgb(89, 0, 255)">
                                <path
                                    d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zM4 21h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm13 0c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4z">
                                </path>
                            </svg>
                        </div>
                        <p class="text-lg font-medium flex items-end gap-1">10<span
                                class="time text-sm sr-only sm:not-sr-only">Questions</span>
                        </p>
                    </div>
                </div>
                <div class="card__body py-10">
                    <div class="quiz__icon flex items-center justify-center">
                        <img src="https://skills.thijs.gg/icons?i=java" class="w-20" alt="">
                    </div>
                    <div class="quiz__description py-5">
                        <p class="text-base italic text-center">
                            "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, ipsam iusto
                            doloribus eligendi animi velit ad quae! Neque impedit cum fuga odit cumque facere, totam
                            sunt deserunt obcaecati, reiciendis inventore."
                        </p>
                    </div>
                    <div class="quiz__ctas">
                        <div class="btns flex items-center justify-center gap-4">
                            <button
                                class="cancel__quiz px-6 py-2 bg-neutral-content text-black text-lg font-medium rounded">Cancel</button>
                            <button routerLink="/user/quiz/java"
                                class="start__quiz px-6 py-2 bg-primary text-white text-lg font-medium rounded">Start
                                Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>